name: simple_test

on:
  push:
    branches:
      - conor/com-6015-run-a-single-workflow-against-staging
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to test"
        required: true
        type: string
  

permissions:
  id-token: write
  contents: write

env:
  AWS_ECR_STS_ROLE: arn:aws:iam::688567264391:role/DojoApiCIRole


jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment parameter
        run: |
          echo "Environment parameter: ${{ github.event.inputs.environment }}"
          echo "Workflow triggered with environment: ${{ github.event.inputs.environment || 'default' }}"
  
  test:
    runs-on: ubuntu-latest
    needs: print-env
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: |
          cd test
          uv sync
      - name: Run test
        env:
          COMPASS_API_KEY: ${{ secrets.COMPASS_API_KEY }}
        run: |
          cd test
          uv run python main.py
        